@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Amatic+SC:wght@400;700&display=swap');


/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;


.blur {
    filter: blur(0px);
    pointer-events: none; 
  }

  .modal-container {
    max-height: 80vh;
    overflow-y: auto;
  }



 