

/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;


.blur {
    filter: blur(8px);
    pointer-events: none; 
  }

  .modal-container {
    max-height: 80vh;
    overflow-y: auto;
  }